<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Boss3 (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{110,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,116}}</string>
        <key>sourceSize</key>
        <string>{110,116}</string>
      </dict>
      <key>Boss3 (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,116},{110,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,116}}</string>
        <key>sourceSize</key>
        <string>{110,116}</string>
      </dict>
      <key>Boss3 (2)</key>
      <dict>
        <key>frame</key>
        <string>{{0,232},{110,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,116}}</string>
        <key>sourceSize</key>
        <string>{110,116}</string>
      </dict>
      <key>Boss3 (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,348},{110,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,116}}</string>
        <key>sourceSize</key>
        <string>{110,116}</string>
      </dict>
      <key>Boss3 (4)</key>
      <dict>
        <key>frame</key>
        <string>{{0,464},{110,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,116}}</string>
        <key>sourceSize</key>
        <string>{110,116}</string>
      </dict>
      <key>Boss3 (5)</key>
      <dict>
        <key>frame</key>
        <string>{{0,580},{110,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,116}}</string>
        <key>sourceSize</key>
        <string>{110,116}</string>
      </dict>
      <key>Boss3 (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,696},{110,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,116}}</string>
        <key>sourceSize</key>
        <string>{110,116}</string>
      </dict>
      <key>Boss3 (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,812},{110,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,116}}</string>
        <key>sourceSize</key>
        <string>{110,116}</string>
      </dict>
      <key>Boss3 (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,928},{110,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,116}}</string>
        <key>sourceSize</key>
        <string>{110,116}</string>
      </dict>
      <key>Boss3 (9)</key>
      <dict>
        <key>frame</key>
        <string>{{0,1044},{110,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,116}}</string>
        <key>sourceSize</key>
        <string>{110,116}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Boss3.png</string>
      <key>size</key>
      <string>{110,1160}</string>
      <key>textureFileName</key>
      <string>Boss3</string>
    </dict>
  </dict>
</plist>
