<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Boss1 (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{108,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,76}}</string>
        <key>sourceSize</key>
        <string>{108,76}</string>
      </dict>
      <key>Boss1 (7)</key>
      <dict>
        <key>frame</key>
        <string>{{108,0},{108,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,76}}</string>
        <key>sourceSize</key>
        <string>{108,76}</string>
      </dict>
      <key>Boss1 (2)</key>
      <dict>
        <key>frame</key>
        <string>{{216,0},{108,69}}</string>
        <key>offset</key>
        <string>{0,-3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,7},{108,69}}</string>
        <key>sourceSize</key>
        <string>{108,76}</string>
      </dict>
      <key>Boss1 (6)</key>
      <dict>
        <key>frame</key>
        <string>{{324,0},{108,69}}</string>
        <key>offset</key>
        <string>{0,-3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,7},{108,69}}</string>
        <key>sourceSize</key>
        <string>{108,76}</string>
      </dict>
      <key>Boss1 (4)</key>
      <dict>
        <key>frame</key>
        <string>{{432,0},{108,66}}</string>
        <key>offset</key>
        <string>{0,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,10},{108,66}}</string>
        <key>sourceSize</key>
        <string>{108,76}</string>
      </dict>
      <key>Boss1 (5)</key>
      <dict>
        <key>frame</key>
        <string>{{540,0},{108,66}}</string>
        <key>offset</key>
        <string>{0,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,10},{108,66}}</string>
        <key>sourceSize</key>
        <string>{108,76}</string>
      </dict>
      <key>Boss1 (1)</key>
      <dict>
        <key>frame</key>
        <string>{{648,0},{108,65}}</string>
        <key>offset</key>
        <string>{0,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,11},{108,65}}</string>
        <key>sourceSize</key>
        <string>{108,76}</string>
      </dict>
      <key>Boss1 (10)</key>
      <dict>
        <key>frame</key>
        <string>{{756,0},{108,65}}</string>
        <key>offset</key>
        <string>{0,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,11},{108,65}}</string>
        <key>sourceSize</key>
        <string>{108,76}</string>
      </dict>
      <key>Boss1 (8)</key>
      <dict>
        <key>frame</key>
        <string>{{864,0},{108,65}}</string>
        <key>offset</key>
        <string>{0,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,11},{108,65}}</string>
        <key>sourceSize</key>
        <string>{108,76}</string>
      </dict>
      <key>Boss1 (9)</key>
      <dict>
        <key>frame</key>
        <string>{{972,0},{108,65}}</string>
        <key>offset</key>
        <string>{0,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,11},{108,65}}</string>
        <key>sourceSize</key>
        <string>{108,76}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Boss1.png</string>
      <key>size</key>
      <string>{1080,76}</string>
      <key>textureFileName</key>
      <string>Boss1</string>
    </dict>
  </dict>
</plist>
