<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>EnemyEasy3 (2)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{65,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,96}}</string>
        <key>sourceSize</key>
        <string>{65,96}</string>
      </dict>
      <key>EnemyEasy3 (4)</key>
      <dict>
        <key>frame</key>
        <string>{{0,96},{65,93}}</string>
        <key>offset</key>
        <string>{0,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,93}}</string>
        <key>sourceSize</key>
        <string>{65,96}</string>
      </dict>
      <key>EnemyEasy3 (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,189},{65,93}}</string>
        <key>offset</key>
        <string>{0,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,93}}</string>
        <key>sourceSize</key>
        <string>{65,96}</string>
      </dict>
      <key>EnemyEasy3 (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,282},{65,93}}</string>
        <key>offset</key>
        <string>{0,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,93}}</string>
        <key>sourceSize</key>
        <string>{65,96}</string>
      </dict>
      <key>EnemyEasy3 (9)</key>
      <dict>
        <key>frame</key>
        <string>{{0,375},{65,93}}</string>
        <key>offset</key>
        <string>{0,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,93}}</string>
        <key>sourceSize</key>
        <string>{65,96}</string>
      </dict>
      <key>EnemyEasy3 (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,468},{65,85}}</string>
        <key>offset</key>
        <string>{0,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,85}}</string>
        <key>sourceSize</key>
        <string>{65,96}</string>
      </dict>
      <key>EnemyEasy3 (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,553},{65,85}}</string>
        <key>offset</key>
        <string>{0,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,85}}</string>
        <key>sourceSize</key>
        <string>{65,96}</string>
      </dict>
      <key>EnemyEasy3 (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,638},{65,85}}</string>
        <key>offset</key>
        <string>{0,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,85}}</string>
        <key>sourceSize</key>
        <string>{65,96}</string>
      </dict>
      <key>EnemyEasy3 (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,723},{65,78}}</string>
        <key>offset</key>
        <string>{0,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,78}}</string>
        <key>sourceSize</key>
        <string>{65,96}</string>
      </dict>
      <key>EnemyEasy3 (5)</key>
      <dict>
        <key>frame</key>
        <string>{{0,801},{65,78}}</string>
        <key>offset</key>
        <string>{0,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,78}}</string>
        <key>sourceSize</key>
        <string>{65,96}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>EnemyEasy3.png</string>
      <key>size</key>
      <string>{65,879}</string>
      <key>textureFileName</key>
      <string>EnemyEasy3</string>
    </dict>
  </dict>
</plist>
