<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>EnemyEasy5 (2)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{71,152}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,152}}</string>
        <key>sourceSize</key>
        <string>{71,152}</string>
      </dict>
      <key>EnemyEasy5 (4)</key>
      <dict>
        <key>frame</key>
        <string>{{0,152},{71,149}}</string>
        <key>offset</key>
        <string>{0,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,149}}</string>
        <key>sourceSize</key>
        <string>{71,152}</string>
      </dict>
      <key>EnemyEasy5 (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,301},{71,149}}</string>
        <key>offset</key>
        <string>{0,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,149}}</string>
        <key>sourceSize</key>
        <string>{71,152}</string>
      </dict>
      <key>EnemyEasy5 (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,450},{71,149}}</string>
        <key>offset</key>
        <string>{0,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,149}}</string>
        <key>sourceSize</key>
        <string>{71,152}</string>
      </dict>
      <key>EnemyEasy5 (9)</key>
      <dict>
        <key>frame</key>
        <string>{{0,599},{71,149}}</string>
        <key>offset</key>
        <string>{0,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,149}}</string>
        <key>sourceSize</key>
        <string>{71,152}</string>
      </dict>
      <key>EnemyEasy5 (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,748},{71,141}}</string>
        <key>offset</key>
        <string>{0,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,141}}</string>
        <key>sourceSize</key>
        <string>{71,152}</string>
      </dict>
      <key>EnemyEasy5 (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,889},{71,141}}</string>
        <key>offset</key>
        <string>{0,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,141}}</string>
        <key>sourceSize</key>
        <string>{71,152}</string>
      </dict>
      <key>EnemyEasy5 (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,1030},{71,141}}</string>
        <key>offset</key>
        <string>{0,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,141}}</string>
        <key>sourceSize</key>
        <string>{71,152}</string>
      </dict>
      <key>EnemyEasy5 (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,1171},{71,134}}</string>
        <key>offset</key>
        <string>{0,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,134}}</string>
        <key>sourceSize</key>
        <string>{71,152}</string>
      </dict>
      <key>EnemyEasy5 (5)</key>
      <dict>
        <key>frame</key>
        <string>{{0,1305},{71,134}}</string>
        <key>offset</key>
        <string>{0,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,134}}</string>
        <key>sourceSize</key>
        <string>{71,152}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>EnemyEasy5.png</string>
      <key>size</key>
      <string>{71,1439}</string>
      <key>textureFileName</key>
      <string>EnemyEasy5</string>
    </dict>
  </dict>
</plist>
