<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>EnemyEasy6 (2)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{61,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,133}}</string>
        <key>sourceSize</key>
        <string>{61,133}</string>
      </dict>
      <key>EnemyEasy6 (4)</key>
      <dict>
        <key>frame</key>
        <string>{{0,133},{61,130}}</string>
        <key>offset</key>
        <string>{0,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,130}}</string>
        <key>sourceSize</key>
        <string>{61,133}</string>
      </dict>
      <key>EnemyEasy6 (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,263},{61,130}}</string>
        <key>offset</key>
        <string>{0,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,130}}</string>
        <key>sourceSize</key>
        <string>{61,133}</string>
      </dict>
      <key>EnemyEasy6 (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,393},{61,130}}</string>
        <key>offset</key>
        <string>{0,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,130}}</string>
        <key>sourceSize</key>
        <string>{61,133}</string>
      </dict>
      <key>EnemyEasy6 (9)</key>
      <dict>
        <key>frame</key>
        <string>{{0,523},{61,130}}</string>
        <key>offset</key>
        <string>{0,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,130}}</string>
        <key>sourceSize</key>
        <string>{61,133}</string>
      </dict>
      <key>EnemyEasy6 (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,653},{61,122}}</string>
        <key>offset</key>
        <string>{0,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,122}}</string>
        <key>sourceSize</key>
        <string>{61,133}</string>
      </dict>
      <key>EnemyEasy6 (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,775},{61,122}}</string>
        <key>offset</key>
        <string>{0,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,122}}</string>
        <key>sourceSize</key>
        <string>{61,133}</string>
      </dict>
      <key>EnemyEasy6 (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,897},{61,122}}</string>
        <key>offset</key>
        <string>{0,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,122}}</string>
        <key>sourceSize</key>
        <string>{61,133}</string>
      </dict>
      <key>EnemyEasy6 (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,1019},{61,115}}</string>
        <key>offset</key>
        <string>{0,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,115}}</string>
        <key>sourceSize</key>
        <string>{61,133}</string>
      </dict>
      <key>EnemyEasy6 (5)</key>
      <dict>
        <key>frame</key>
        <string>{{0,1134},{61,115}}</string>
        <key>offset</key>
        <string>{0,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,115}}</string>
        <key>sourceSize</key>
        <string>{61,133}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>EnemyEasy6.png</string>
      <key>size</key>
      <string>{61,1249}</string>
      <key>textureFileName</key>
      <string>EnemyEasy6</string>
    </dict>
  </dict>
</plist>
