<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>EnemyEasy1 (2)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{72,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,160}}</string>
        <key>sourceSize</key>
        <string>{72,160}</string>
      </dict>
      <key>EnemyEasy1 (4)</key>
      <dict>
        <key>frame</key>
        <string>{{0,160},{72,157}}</string>
        <key>offset</key>
        <string>{0,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,157}}</string>
        <key>sourceSize</key>
        <string>{72,160}</string>
      </dict>
      <key>EnemyEasy1 (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,317},{72,157}}</string>
        <key>offset</key>
        <string>{0,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,157}}</string>
        <key>sourceSize</key>
        <string>{72,160}</string>
      </dict>
      <key>EnemyEasy1 (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,474},{72,157}}</string>
        <key>offset</key>
        <string>{0,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,157}}</string>
        <key>sourceSize</key>
        <string>{72,160}</string>
      </dict>
      <key>EnemyEasy1 (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,631},{72,149}}</string>
        <key>offset</key>
        <string>{0,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,149}}</string>
        <key>sourceSize</key>
        <string>{72,160}</string>
      </dict>
      <key>EnemyEasy1 (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,780},{72,149}}</string>
        <key>offset</key>
        <string>{0,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,149}}</string>
        <key>sourceSize</key>
        <string>{72,160}</string>
      </dict>
      <key>EnemyEasy1 (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,929},{72,142}}</string>
        <key>offset</key>
        <string>{0,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,142}}</string>
        <key>sourceSize</key>
        <string>{72,160}</string>
      </dict>
      <key>EnemyEasy1 (5)</key>
      <dict>
        <key>frame</key>
        <string>{{0,1071},{72,142}}</string>
        <key>offset</key>
        <string>{0,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,142}}</string>
        <key>sourceSize</key>
        <string>{72,160}</string>
      </dict>
      <key>EnemyEasy1 (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,780},{72,149}}</string>
        <key>offset</key>
        <string>{0,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,149}}</string>
        <key>sourceSize</key>
        <string>{72,160}</string>
      </dict>
      <key>EnemyEasy1 (9)</key>
      <dict>
        <key>frame</key>
        <string>{{0,160},{72,157}}</string>
        <key>offset</key>
        <string>{0,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,157}}</string>
        <key>sourceSize</key>
        <string>{72,160}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>EnemyEasy1.png</string>
      <key>size</key>
      <string>{72,1213}</string>
      <key>textureFileName</key>
      <string>EnemyEasy1</string>
    </dict>
  </dict>
</plist>
