<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>EnemyHard1 (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{59,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,97}}</string>
        <key>sourceSize</key>
        <string>{59,97}</string>
      </dict>
      <key>EnemyHard1 (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,97},{59,95}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,95}}</string>
        <key>sourceSize</key>
        <string>{59,97}</string>
      </dict>
      <key>EnemyHard1 (9)</key>
      <dict>
        <key>frame</key>
        <string>{{0,192},{59,93}}</string>
        <key>offset</key>
        <string>{0,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,93}}</string>
        <key>sourceSize</key>
        <string>{59,97}</string>
      </dict>
      <key>EnemyHard1 (2)</key>
      <dict>
        <key>frame</key>
        <string>{{0,285},{59,91}}</string>
        <key>offset</key>
        <string>{0,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,91}}</string>
        <key>sourceSize</key>
        <string>{59,97}</string>
      </dict>
      <key>EnemyHard1 (5)</key>
      <dict>
        <key>frame</key>
        <string>{{0,376},{59,88}}</string>
        <key>offset</key>
        <string>{0,4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,88}}</string>
        <key>sourceSize</key>
        <string>{59,97}</string>
      </dict>
      <key>EnemyHard1 (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,464},{59,85}}</string>
        <key>offset</key>
        <string>{0,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,85}}</string>
        <key>sourceSize</key>
        <string>{59,97}</string>
      </dict>
      <key>EnemyHard1 (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,549},{59,73}}</string>
        <key>offset</key>
        <string>{0,12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,73}}</string>
        <key>sourceSize</key>
        <string>{59,97}</string>
      </dict>
      <key>EnemyHard1 (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,622},{59,73}}</string>
        <key>offset</key>
        <string>{0,12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,73}}</string>
        <key>sourceSize</key>
        <string>{59,97}</string>
      </dict>
      <key>EnemyHard1 (4)</key>
      <dict>
        <key>frame</key>
        <string>{{0,695},{59,73}}</string>
        <key>offset</key>
        <string>{0,12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,73}}</string>
        <key>sourceSize</key>
        <string>{59,97}</string>
      </dict>
      <key>EnemyHard1 (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,768},{59,73}}</string>
        <key>offset</key>
        <string>{0,12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,73}}</string>
        <key>sourceSize</key>
        <string>{59,97}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>EnemyHard1.png</string>
      <key>size</key>
      <string>{59,841}</string>
      <key>textureFileName</key>
      <string>EnemyHard1</string>
    </dict>
  </dict>
</plist>
