<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>EnemyHard3 (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{66,117}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,117}}</string>
        <key>sourceSize</key>
        <string>{66,117}</string>
      </dict>
      <key>EnemyHard3 (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,117},{66,115}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,115}}</string>
        <key>sourceSize</key>
        <string>{66,117}</string>
      </dict>
      <key>EnemyHard3 (9)</key>
      <dict>
        <key>frame</key>
        <string>{{0,232},{66,113}}</string>
        <key>offset</key>
        <string>{0,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,113}}</string>
        <key>sourceSize</key>
        <string>{66,117}</string>
      </dict>
      <key>EnemyHard3 (2)</key>
      <dict>
        <key>frame</key>
        <string>{{0,345},{66,111}}</string>
        <key>offset</key>
        <string>{0,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,111}}</string>
        <key>sourceSize</key>
        <string>{66,117}</string>
      </dict>
      <key>EnemyHard3 (5)</key>
      <dict>
        <key>frame</key>
        <string>{{0,456},{66,108}}</string>
        <key>offset</key>
        <string>{0,4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,108}}</string>
        <key>sourceSize</key>
        <string>{66,117}</string>
      </dict>
      <key>EnemyHard3 (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,564},{66,105}}</string>
        <key>offset</key>
        <string>{0,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,105}}</string>
        <key>sourceSize</key>
        <string>{66,117}</string>
      </dict>
      <key>EnemyHard3 (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,669},{66,99}}</string>
        <key>offset</key>
        <string>{0,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,99}}</string>
        <key>sourceSize</key>
        <string>{66,117}</string>
      </dict>
      <key>EnemyHard3 (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,768},{66,99}}</string>
        <key>offset</key>
        <string>{0,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,99}}</string>
        <key>sourceSize</key>
        <string>{66,117}</string>
      </dict>
      <key>EnemyHard3 (4)</key>
      <dict>
        <key>frame</key>
        <string>{{0,867},{66,99}}</string>
        <key>offset</key>
        <string>{0,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,99}}</string>
        <key>sourceSize</key>
        <string>{66,117}</string>
      </dict>
      <key>EnemyHard3 (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,966},{66,99}}</string>
        <key>offset</key>
        <string>{0,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,99}}</string>
        <key>sourceSize</key>
        <string>{66,117}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>EnemyHard3.png</string>
      <key>size</key>
      <string>{66,1065}</string>
      <key>textureFileName</key>
      <string>EnemyHard3</string>
    </dict>
  </dict>
</plist>
