<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>EnemyHard2 (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{47,122}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,122}}</string>
        <key>sourceSize</key>
        <string>{47,122}</string>
      </dict>
      <key>EnemyHard2 (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,122},{47,120}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,120}}</string>
        <key>sourceSize</key>
        <string>{47,122}</string>
      </dict>
      <key>EnemyHard2 (9)</key>
      <dict>
        <key>frame</key>
        <string>{{0,242},{47,118}}</string>
        <key>offset</key>
        <string>{0,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,118}}</string>
        <key>sourceSize</key>
        <string>{47,122}</string>
      </dict>
      <key>EnemyHard2 (2)</key>
      <dict>
        <key>frame</key>
        <string>{{0,360},{47,116}}</string>
        <key>offset</key>
        <string>{0,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,116}}</string>
        <key>sourceSize</key>
        <string>{47,122}</string>
      </dict>
      <key>EnemyHard2 (5)</key>
      <dict>
        <key>frame</key>
        <string>{{0,476},{47,113}}</string>
        <key>offset</key>
        <string>{0,4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,113}}</string>
        <key>sourceSize</key>
        <string>{47,122}</string>
      </dict>
      <key>EnemyHard2 (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,589},{47,110}}</string>
        <key>offset</key>
        <string>{0,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,110}}</string>
        <key>sourceSize</key>
        <string>{47,122}</string>
      </dict>
      <key>EnemyHard2 (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,699},{47,107}}</string>
        <key>offset</key>
        <string>{0,7.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,107}}</string>
        <key>sourceSize</key>
        <string>{47,122}</string>
      </dict>
      <key>EnemyHard2 (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,806},{47,107}}</string>
        <key>offset</key>
        <string>{0,7.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,107}}</string>
        <key>sourceSize</key>
        <string>{47,122}</string>
      </dict>
      <key>EnemyHard2 (4)</key>
      <dict>
        <key>frame</key>
        <string>{{0,913},{47,107}}</string>
        <key>offset</key>
        <string>{0,7.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,107}}</string>
        <key>sourceSize</key>
        <string>{47,122}</string>
      </dict>
      <key>EnemyHard2 (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,1020},{47,107}}</string>
        <key>offset</key>
        <string>{0,7.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,107}}</string>
        <key>sourceSize</key>
        <string>{47,122}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>EnemyHard2.png</string>
      <key>size</key>
      <string>{47,1127}</string>
      <key>textureFileName</key>
      <string>EnemyHard2</string>
    </dict>
  </dict>
</plist>
