<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>EnemyHard6 (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{165,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{165,113}}</string>
        <key>sourceSize</key>
        <string>{165,113}</string>
      </dict>
      <key>EnemyHard6 (6)</key>
      <dict>
        <key>frame</key>
        <string>{{165,0},{165,111}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{165,111}}</string>
        <key>sourceSize</key>
        <string>{165,113}</string>
      </dict>
      <key>EnemyHard6 (9)</key>
      <dict>
        <key>frame</key>
        <string>{{330,0},{165,109}}</string>
        <key>offset</key>
        <string>{0,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{165,109}}</string>
        <key>sourceSize</key>
        <string>{165,113}</string>
      </dict>
      <key>EnemyHard6 (2)</key>
      <dict>
        <key>frame</key>
        <string>{{495,0},{165,107}}</string>
        <key>offset</key>
        <string>{0,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{165,107}}</string>
        <key>sourceSize</key>
        <string>{165,113}</string>
      </dict>
      <key>EnemyHard6 (5)</key>
      <dict>
        <key>frame</key>
        <string>{{660,0},{165,104}}</string>
        <key>offset</key>
        <string>{0,4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{165,104}}</string>
        <key>sourceSize</key>
        <string>{165,113}</string>
      </dict>
      <key>EnemyHard6 (8)</key>
      <dict>
        <key>frame</key>
        <string>{{825,0},{165,101}}</string>
        <key>offset</key>
        <string>{0,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{165,101}}</string>
        <key>sourceSize</key>
        <string>{165,113}</string>
      </dict>
      <key>EnemyHard6 (1)</key>
      <dict>
        <key>frame</key>
        <string>{{990,0},{165,90}}</string>
        <key>offset</key>
        <string>{0,11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{165,90}}</string>
        <key>sourceSize</key>
        <string>{165,113}</string>
      </dict>
      <key>EnemyHard6 (10)</key>
      <dict>
        <key>frame</key>
        <string>{{1155,0},{165,90}}</string>
        <key>offset</key>
        <string>{0,11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{165,90}}</string>
        <key>sourceSize</key>
        <string>{165,113}</string>
      </dict>
      <key>EnemyHard6 (4)</key>
      <dict>
        <key>frame</key>
        <string>{{1320,0},{165,90}}</string>
        <key>offset</key>
        <string>{0,11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{165,90}}</string>
        <key>sourceSize</key>
        <string>{165,113}</string>
      </dict>
      <key>EnemyHard6 (7)</key>
      <dict>
        <key>frame</key>
        <string>{{1485,0},{165,90}}</string>
        <key>offset</key>
        <string>{0,11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{165,90}}</string>
        <key>sourceSize</key>
        <string>{165,113}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>EnemyHard6.png</string>
      <key>size</key>
      <string>{1650,113}</string>
      <key>textureFileName</key>
      <string>EnemyHard6</string>
    </dict>
  </dict>
</plist>
