<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>ExplosionBoss (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{155,155}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,155}}</string>
        <key>sourceSize</key>
        <string>{155,155}</string>
      </dict>
      <key>ExplosionBoss (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,155},{151,151}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{151,151}}</string>
        <key>sourceSize</key>
        <string>{155,155}</string>
      </dict>
      <key>ExplosionBoss (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,306},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7,7},{141,141}}</string>
        <key>sourceSize</key>
        <string>{155,155}</string>
      </dict>
      <key>ExplosionBoss (5)</key>
      <dict>
        <key>frame</key>
        <string>{{0,447},{131,131}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,12},{131,131}}</string>
        <key>sourceSize</key>
        <string>{155,155}</string>
      </dict>
      <key>ExplosionBoss (4)</key>
      <dict>
        <key>frame</key>
        <string>{{0,578},{127,127}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,14},{127,127}}</string>
        <key>sourceSize</key>
        <string>{155,155}</string>
      </dict>
      <key>ExplosionBoss (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,705},{121,121}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,17},{121,121}}</string>
        <key>sourceSize</key>
        <string>{155,155}</string>
      </dict>
      <key>ExplosionBoss (2)</key>
      <dict>
        <key>frame</key>
        <string>{{0,826},{111,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22,22},{111,111}}</string>
        <key>sourceSize</key>
        <string>{155,155}</string>
      </dict>
      <key>ExplosionBoss (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,937},{101,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,27},{101,101}}</string>
        <key>sourceSize</key>
        <string>{155,155}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>ExplosionBoss.png</string>
      <key>size</key>
      <string>{155,1038}</string>
      <key>textureFileName</key>
      <string>ExplosionBoss</string>
    </dict>
  </dict>
</plist>
