<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Rocket3 (5)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{33,119}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,0},{33,119}}</string>
        <key>sourceSize</key>
        <string>{35,119}</string>
      </dict>
      <key>Rocket3 (9)</key>
      <dict>
        <key>frame</key>
        <string>{{0,119},{33,119}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,0},{33,119}}</string>
        <key>sourceSize</key>
        <string>{35,119}</string>
      </dict>
      <key>Rocket3 (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,238},{35,115}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,4},{35,115}}</string>
        <key>sourceSize</key>
        <string>{35,119}</string>
      </dict>
      <key>Rocket3 (2)</key>
      <dict>
        <key>frame</key>
        <string>{{33,0},{33,115}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,4},{33,115}}</string>
        <key>sourceSize</key>
        <string>{35,119}</string>
      </dict>
      <key>Rocket3 (3)</key>
      <dict>
        <key>frame</key>
        <string>{{33,115},{33,115}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,4},{33,115}}</string>
        <key>sourceSize</key>
        <string>{35,119}</string>
      </dict>
      <key>Rocket3 (4)</key>
      <dict>
        <key>frame</key>
        <string>{{0,353},{33,115}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,4},{33,115}}</string>
        <key>sourceSize</key>
        <string>{35,119}</string>
      </dict>
      <key>Rocket3 (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,468},{33,115}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,4},{33,115}}</string>
        <key>sourceSize</key>
        <string>{35,119}</string>
      </dict>
      <key>Rocket3 (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,583},{33,115}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,4},{33,115}}</string>
        <key>sourceSize</key>
        <string>{35,119}</string>
      </dict>
      <key>Rocket3 (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,698},{33,111}}</string>
        <key>offset</key>
        <string>{0,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,8},{33,111}}</string>
        <key>sourceSize</key>
        <string>{35,119}</string>
      </dict>
      <key>Rocket3 (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,809},{33,111}}</string>
        <key>offset</key>
        <string>{0,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,8},{33,111}}</string>
        <key>sourceSize</key>
        <string>{35,119}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Rocket3.png</string>
      <key>size</key>
      <string>{66,920}</string>
      <key>textureFileName</key>
      <string>Rocket3</string>
    </dict>
  </dict>
</plist>
