<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Rocket1 (5)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{42,119}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,119}}</string>
        <key>sourceSize</key>
        <string>{42,119}</string>
      </dict>
      <key>Rocket1 (9)</key>
      <dict>
        <key>frame</key>
        <string>{{0,119},{42,119}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,119}}</string>
        <key>sourceSize</key>
        <string>{42,119}</string>
      </dict>
      <key>Rocket1 (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,238},{42,115}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,4},{42,115}}</string>
        <key>sourceSize</key>
        <string>{42,119}</string>
      </dict>
      <key>Rocket1 (2)</key>
      <dict>
        <key>frame</key>
        <string>{{0,353},{42,115}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,4},{42,115}}</string>
        <key>sourceSize</key>
        <string>{42,119}</string>
      </dict>
      <key>Rocket1 (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,468},{42,115}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,4},{42,115}}</string>
        <key>sourceSize</key>
        <string>{42,119}</string>
      </dict>
      <key>Rocket1 (4)</key>
      <dict>
        <key>frame</key>
        <string>{{0,583},{42,115}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,4},{42,115}}</string>
        <key>sourceSize</key>
        <string>{42,119}</string>
      </dict>
      <key>Rocket1 (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,698},{42,115}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,4},{42,115}}</string>
        <key>sourceSize</key>
        <string>{42,119}</string>
      </dict>
      <key>Rocket1 (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,813},{42,115}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,4},{42,115}}</string>
        <key>sourceSize</key>
        <string>{42,119}</string>
      </dict>
      <key>Rocket1 (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,928},{42,111}}</string>
        <key>offset</key>
        <string>{0,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,8},{42,111}}</string>
        <key>sourceSize</key>
        <string>{42,119}</string>
      </dict>
      <key>Rocket1 (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,1039},{42,111}}</string>
        <key>offset</key>
        <string>{0,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,8},{42,111}}</string>
        <key>sourceSize</key>
        <string>{42,119}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Rocket1.png</string>
      <key>size</key>
      <string>{42,1150}</string>
      <key>textureFileName</key>
      <string>Rocket1</string>
    </dict>
  </dict>
</plist>
