<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Rocket2 (5)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{33,119}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,0},{33,119}}</string>
        <key>sourceSize</key>
        <string>{35,119}</string>
      </dict>
      <key>Rocket2 (9)</key>
      <dict>
        <key>frame</key>
        <string>{{0,119},{24,119}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,0},{24,119}}</string>
        <key>sourceSize</key>
        <string>{35,119}</string>
      </dict>
      <key>Rocket2 (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,238},{35,115}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,4},{35,115}}</string>
        <key>sourceSize</key>
        <string>{35,119}</string>
      </dict>
      <key>Rocket2 (3)</key>
      <dict>
        <key>frame</key>
        <string>{{24,119},{30,115}}</string>
        <key>offset</key>
        <string>{0.5,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,4},{30,115}}</string>
        <key>sourceSize</key>
        <string>{35,119}</string>
      </dict>
      <key>Rocket2 (6)</key>
      <dict>
        <key>frame</key>
        <string>{{33,0},{30,115}}</string>
        <key>offset</key>
        <string>{0.5,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,4},{30,115}}</string>
        <key>sourceSize</key>
        <string>{35,119}</string>
      </dict>
      <key>Rocket2 (2)</key>
      <dict>
        <key>frame</key>
        <string>{{54,115},{27,115}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,4},{27,115}}</string>
        <key>sourceSize</key>
        <string>{35,119}</string>
      </dict>
      <key>Rocket2 (8)</key>
      <dict>
        <key>frame</key>
        <string>{{63,0},{27,115}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,4},{27,115}}</string>
        <key>sourceSize</key>
        <string>{35,119}</string>
      </dict>
      <key>Rocket2 (4)</key>
      <dict>
        <key>frame</key>
        <string>{{0,353},{24,115}}</string>
        <key>offset</key>
        <string>{0.5,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,4},{24,115}}</string>
        <key>sourceSize</key>
        <string>{35,119}</string>
      </dict>
      <key>Rocket2 (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,468},{33,111}}</string>
        <key>offset</key>
        <string>{0,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,8},{33,111}}</string>
        <key>sourceSize</key>
        <string>{35,119}</string>
      </dict>
      <key>Rocket2 (7)</key>
      <dict>
        <key>frame</key>
        <string>{{24,353},{33,111}}</string>
        <key>offset</key>
        <string>{0,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,8},{33,111}}</string>
        <key>sourceSize</key>
        <string>{35,119}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Rocket2.png</string>
      <key>size</key>
      <string>{90,579}</string>
      <key>textureFileName</key>
      <string>Rocket2</string>
    </dict>
  </dict>
</plist>
