<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>EnemyMedium5 (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{83,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,116}}</string>
        <key>sourceSize</key>
        <string>{83,116}</string>
      </dict>
      <key>EnemyMedium5 (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,116},{83,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,116}}</string>
        <key>sourceSize</key>
        <string>{83,116}</string>
      </dict>
      <key>EnemyMedium5 (5)</key>
      <dict>
        <key>frame</key>
        <string>{{0,232},{83,115}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,115}}</string>
        <key>sourceSize</key>
        <string>{83,116}</string>
      </dict>
      <key>EnemyMedium5 (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,347},{83,114}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,114}}</string>
        <key>sourceSize</key>
        <string>{83,116}</string>
      </dict>
      <key>EnemyMedium5 (2)</key>
      <dict>
        <key>frame</key>
        <string>{{0,461},{83,113}}</string>
        <key>offset</key>
        <string>{0,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,113}}</string>
        <key>sourceSize</key>
        <string>{83,116}</string>
      </dict>
      <key>EnemyMedium5 (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,574},{83,113}}</string>
        <key>offset</key>
        <string>{0,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,113}}</string>
        <key>sourceSize</key>
        <string>{83,116}</string>
      </dict>
      <key>EnemyMedium5 (4)</key>
      <dict>
        <key>frame</key>
        <string>{{0,687},{83,111}}</string>
        <key>offset</key>
        <string>{0,2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,111}}</string>
        <key>sourceSize</key>
        <string>{83,116}</string>
      </dict>
      <key>EnemyMedium5 (9)</key>
      <dict>
        <key>frame</key>
        <string>{{0,798},{83,110}}</string>
        <key>offset</key>
        <string>{0,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,110}}</string>
        <key>sourceSize</key>
        <string>{83,116}</string>
      </dict>
      <key>EnemyMedium5 (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,908},{83,109}}</string>
        <key>offset</key>
        <string>{0,3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,109}}</string>
        <key>sourceSize</key>
        <string>{83,116}</string>
      </dict>
      <key>EnemyMedium5 (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,908},{83,109}}</string>
        <key>offset</key>
        <string>{0,3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,109}}</string>
        <key>sourceSize</key>
        <string>{83,116}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>EnemyMedium5.png</string>
      <key>size</key>
      <string>{83,1017}</string>
      <key>textureFileName</key>
      <string>EnemyMedium5</string>
    </dict>
  </dict>
</plist>
