<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>EnemyMedium6 (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{57,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,105}}</string>
        <key>sourceSize</key>
        <string>{57,105}</string>
      </dict>
      <key>EnemyMedium6 (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,105},{57,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,105}}</string>
        <key>sourceSize</key>
        <string>{57,105}</string>
      </dict>
      <key>EnemyMedium6 (5)</key>
      <dict>
        <key>frame</key>
        <string>{{0,210},{57,104}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,104}}</string>
        <key>sourceSize</key>
        <string>{57,105}</string>
      </dict>
      <key>EnemyMedium6 (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,314},{57,103}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,103}}</string>
        <key>sourceSize</key>
        <string>{57,105}</string>
      </dict>
      <key>EnemyMedium6 (2)</key>
      <dict>
        <key>frame</key>
        <string>{{0,417},{57,102}}</string>
        <key>offset</key>
        <string>{0,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,102}}</string>
        <key>sourceSize</key>
        <string>{57,105}</string>
      </dict>
      <key>EnemyMedium6 (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,519},{57,102}}</string>
        <key>offset</key>
        <string>{0,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,102}}</string>
        <key>sourceSize</key>
        <string>{57,105}</string>
      </dict>
      <key>EnemyMedium6 (4)</key>
      <dict>
        <key>frame</key>
        <string>{{0,621},{57,100}}</string>
        <key>offset</key>
        <string>{0,2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,100}}</string>
        <key>sourceSize</key>
        <string>{57,105}</string>
      </dict>
      <key>EnemyMedium6 (9)</key>
      <dict>
        <key>frame</key>
        <string>{{0,721},{57,99}}</string>
        <key>offset</key>
        <string>{0,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,99}}</string>
        <key>sourceSize</key>
        <string>{57,105}</string>
      </dict>
      <key>EnemyMedium6 (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,820},{57,98}}</string>
        <key>offset</key>
        <string>{0,3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,98}}</string>
        <key>sourceSize</key>
        <string>{57,105}</string>
      </dict>
      <key>EnemyMedium6 (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,820},{57,98}}</string>
        <key>offset</key>
        <string>{0,3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,98}}</string>
        <key>sourceSize</key>
        <string>{57,105}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>EnemyMedium6.png</string>
      <key>size</key>
      <string>{57,918}</string>
      <key>textureFileName</key>
      <string>EnemyMedium6</string>
    </dict>
  </dict>
</plist>
