<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>EnemyMedium3 (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{87,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,101}}</string>
        <key>sourceSize</key>
        <string>{87,101}</string>
      </dict>
      <key>EnemyMedium3 (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,101},{87,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,101}}</string>
        <key>sourceSize</key>
        <string>{87,101}</string>
      </dict>
      <key>EnemyMedium3 (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,202},{87,99}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,99}}</string>
        <key>sourceSize</key>
        <string>{87,101}</string>
      </dict>
      <key>EnemyMedium3 (5)</key>
      <dict>
        <key>frame</key>
        <string>{{0,301},{87,99}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,99}}</string>
        <key>sourceSize</key>
        <string>{87,101}</string>
      </dict>
      <key>EnemyMedium3 (2)</key>
      <dict>
        <key>frame</key>
        <string>{{0,400},{87,98}}</string>
        <key>offset</key>
        <string>{0,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,98}}</string>
        <key>sourceSize</key>
        <string>{87,101}</string>
      </dict>
      <key>EnemyMedium3 (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,498},{87,98}}</string>
        <key>offset</key>
        <string>{0,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,98}}</string>
        <key>sourceSize</key>
        <string>{87,101}</string>
      </dict>
      <key>EnemyMedium3 (4)</key>
      <dict>
        <key>frame</key>
        <string>{{0,596},{87,95}}</string>
        <key>offset</key>
        <string>{0,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,95}}</string>
        <key>sourceSize</key>
        <string>{87,101}</string>
      </dict>
      <key>EnemyMedium3 (9)</key>
      <dict>
        <key>frame</key>
        <string>{{0,691},{87,95}}</string>
        <key>offset</key>
        <string>{0,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,95}}</string>
        <key>sourceSize</key>
        <string>{87,101}</string>
      </dict>
      <key>EnemyMedium3 (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,786},{87,93}}</string>
        <key>offset</key>
        <string>{0,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,93}}</string>
        <key>sourceSize</key>
        <string>{87,101}</string>
      </dict>
      <key>EnemyMedium3 (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,786},{87,93}}</string>
        <key>offset</key>
        <string>{0,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,93}}</string>
        <key>sourceSize</key>
        <string>{87,101}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>EnemyMedium3.png</string>
      <key>size</key>
      <string>{87,879}</string>
      <key>textureFileName</key>
      <string>EnemyMedium3</string>
    </dict>
  </dict>
</plist>
