<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Ship_idel (2)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{78,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,134}}</string>
        <key>sourceSize</key>
        <string>{78,134}</string>
      </dict>
      <key>Ship_idel (4)</key>
      <dict>
        <key>frame</key>
        <string>{{0,134},{78,132}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,132}}</string>
        <key>sourceSize</key>
        <string>{78,134}</string>
      </dict>
      <key>Ship_idel (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,266},{78,132}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,132}}</string>
        <key>sourceSize</key>
        <string>{78,134}</string>
      </dict>
      <key>Ship_idel (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,398},{78,132}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,132}}</string>
        <key>sourceSize</key>
        <string>{78,134}</string>
      </dict>
      <key>Ship_idel (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,530},{78,126}}</string>
        <key>offset</key>
        <string>{0,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,126}}</string>
        <key>sourceSize</key>
        <string>{78,134}</string>
      </dict>
      <key>Ship_idel (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,656},{78,126}}</string>
        <key>offset</key>
        <string>{0,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,126}}</string>
        <key>sourceSize</key>
        <string>{78,134}</string>
      </dict>
      <key>Ship_idel (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,782},{78,126}}</string>
        <key>offset</key>
        <string>{0,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,126}}</string>
        <key>sourceSize</key>
        <string>{78,134}</string>
      </dict>
      <key>Ship_idel (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,908},{78,120}}</string>
        <key>offset</key>
        <string>{0,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,120}}</string>
        <key>sourceSize</key>
        <string>{78,134}</string>
      </dict>
      <key>Ship_idel (5)</key>
      <dict>
        <key>frame</key>
        <string>{{0,1028},{78,120}}</string>
        <key>offset</key>
        <string>{0,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,120}}</string>
        <key>sourceSize</key>
        <string>{78,134}</string>
      </dict>
      <key>Ship_idel (9)</key>
      <dict>
        <key>frame</key>
        <string>{{0,134},{78,132}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,132}}</string>
        <key>sourceSize</key>
        <string>{78,134}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Ship_idel.png</string>
      <key>size</key>
      <string>{78,1148}</string>
      <key>textureFileName</key>
      <string>Ship_idel</string>
    </dict>
  </dict>
</plist>
